body {
    background-image: radial-gradient(circle at 100%, rgb(136, 185, 136), rgb(0, 0, 0));
    margin: auto;
    width: 50%;
    text-align: center;
    color: whitesmoke;
}

@font-face {
    font-family: 'digi';
    src: url('https://thereeceshow.github.io/countdown/css/ds-digi-webfont.woff2') format('woff2'),
        url('https://thereeceshow.github.io/countdown/css/ds-digi-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

#goal {
    font-family: 'digi';
    font-size: 3.5em;
}

.distract {
    /* background-color: red; */
    animation-name: text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  
  @keyframes text {
    0%   {color: red;}
    25%  {color: rgba(255, 255, 0, 0.705);}
    50%  {color: blue;}
    100% {color: rgba(62, 233, 62, 0.829);}
  }
